<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tourest - Explore the World</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/style.css') }}">

  <!-- 
    - favicon
  -->
  <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.svg') }}" type="image/svg+xml">

  <!-- 
    - google font link
  -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Comforter+Brush&family=Heebo:wght@400;500;600;700&display=swap"
    rel="stylesheet">

</head>

<body id="top">

  <!-- 
    - #HEADER
  -->

  <header class="header" data-header>
    <div class="container">

      <a href="/">
        <h1 class="logo">Tourest</h1>
      </a>

      <button class="nav-toggle-btn" data-nav-toggle-btn aria-label="Toggle Menu">
        <ion-icon name="menu-outline" class="open"></ion-icon>
        <ion-icon name="close-outline" class="close"></ion-icon>
      </button>

      <nav class="navbar">

        <ul class="navbar-list">

          <li>
            <a href="/" class="navbar-link">Anasayfa</a>
          </li>

          <li>
            <a href="/hakkimizda" class="navbar-link">Hakkımızda</a>
          </li>

          <li>
            <a href="/kitalar" class="navbar-link">Kıtalar</a>
          </li>

          <li>
            <a href="/blog" class="navbar-link">Blog</a>
          </li>

          <li>
            <a href="/iletisim" class="navbar-link">İletişime Geç</a>
          </li>

        </ul>

        <a href="/kitalar" class="btn btn-secondary">Şimdi Araştır</a>

      </nav>

    </div>
  </header>

  <main>
    <article>

      <!-- 
        - #HERO
      -->

      <section class="section hero"
        style="background-image: url('{{ url_for('static', filename='assets/images/hero-bg-bottom.png') }}'), url('{{ url_for('static', filename='assets/images/hero-bg-top.png') }}')">
        <div class="container">

          <img src="{{ url_for('static', filename='assets/images/shape-1.png') }}" width="61" height="61" alt="Vector Shape" class="shape shape-1">

          <img src="{{ url_for('static', filename='assets/images/shape-2.png') }}" width="56" height="74" alt="Vector Shape" class="shape shape-2">

          <img src="{{ url_for('static', filename='assets/images/shape-3.png') }}" width="57" height="72" alt="Vector Shape" class="shape shape-3">

          <div class="hero-content">

            <p class="section-subtitle">Tarihi Eserleri Keşfedin</p>

            <h2 class="hero-title">Güvenilir Tarihi Eser Tanımlama Servisi</h2>

            <p class="hero-text">
              Yolculuk, bir yere gitmek için değil, hareket etmek için yapılan bir eylemdir. Yolculuğun özü, hareket etmektir.
            </p>

            <div class="btn-group">
              <a href="#" class="btn btn-primary">İletişime Geç</a>

              <a href="#" class="btn btn-outline">Daha Fazla</a>
            </div>

          </div>

          <figure class="hero-banner">
            <img src="{{ url_for('static', filename='assets/images/hero-banner.png') }}" width="686" height="812" loading="lazy" alt="hero banner"
              class="w-100">
          </figure>

        </div>
      </section>

      <!-- 
        - #DESTINATION
      -->

      <section class="section destination">
        <div class="container">

          <p class="section-subtitle">Hedef</p>

          <h2 class="h2 section-title">Hangi Kıta Olsun ?</h2>

          <ul class="destination-list">
            <li class="w-50">
              <a href="{{ url_for('asya') }}" class="destination-card">
                <figure class="card-banner">
                  <img src="{{ url_for('static', filename='assets/images/destination-1.jpg') }}" width="1140" height="1100" loading="lazy" alt="Malé, Maldives" class="img-cover">
                </figure>
                <div class="card-content">
                  
                  <h3 class="h3 card-title">Asya</h3>
                </div>
              </a>
            </li>
            <li class="w-50">
              <a href="#" class="destination-card">

                <figure class="card-banner">
                  <img src="{{ url_for('static', filename='assets/images/destination-2.jpg') }}" width="1140" height="1100" loading="lazy"
                    alt="Bangkok, Thailand" class="img-cover">
                </figure>

                <div class="card-content">
                  

                  <h3 class="h3 card-title">Avrupa</h3>
                </div>

              </a>
            </li>


          </ul>

        </div>
      </section>

      <!-- 
        - #POPULAR
      -->

      <section class="section popular">
        <div class="container">

          <p class="section-subtitle">Geçmişe Git</p>

          <h2 class="h2 section-title">Popüler Tarihi Eserler</h2>

          <ul class="popular-list">

            <li>
              <div class="popular-card">

                <figure class="card-banner">
                  <a href="#">
                    <img src="{{ url_for('static', filename='assets/images/popular-1.jpg') }}" width="740" height="518" loading="lazy"
                      alt="Kuala Lumpur, Malaysia" class="img-cover">
                  </a>

                  <span class="card-badge">
                    <ion-icon name="time-outline"></ion-icon>

                    <time datetime="P12D">12 Days</time>
                  </span>
                </figure>

                <div class="card-content">

                  <div class="card-wrapper">
                    

                    <div class="card-rating">
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star-outline"></ion-icon>

                      <data value="2">(21)</data>
                    </div>
                  </div>

                  <h3 class="card-title">
                    <a href="#">Sultan Ahmet Camii</a>
                  </h3>

                  <address class="card-location">İstanbul,Türkiye</address>

                </div>

              </div>
            </li>

            <li>
              <div class="popular-card">

                <figure class="card-banner">
                  <a href="#">
                    <img src="{{ url_for('static', filename='assets/images/popular-2.jpg') }}" width="740" height="518" loading="lazy"
                      alt="Kuala Lumpur, Malaysia" class="img-cover">
                  </a>

                  <span class="card-badge">
                    <ion-icon name="time-outline"></ion-icon>

                    <time datetime="P12D">12 Days</time>
                  </span>
                </figure>

                <div class="card-content">

                  <div class="card-wrapper">
                    

                    <div class="card-rating">
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star-outline"></ion-icon>

                      <data value="2">(34)</data>
                    </div>
                  </div>

                  <h3 class="card-title">
                    <a href="#">KOLEZYUM</a>
                  </h3>

                  <address class="card-location">Roma, İtalya</address>

                </div>

              </div>
            </li>

            <li>
              <div class="popular-card">

                <figure class="card-banner">
                  <a href="#">
                    <img src="{{ url_for('static', filename='assets/images/popular-3.jpg') }}" width="740" height="518" loading="lazy"
                      alt="Kuala Lumpur, Malaysia" class="img-cover">
                  </a>

                  <span class="card-badge">
                    <ion-icon name="time-outline"></ion-icon>

                    <time datetime="P12D">12 Days</time>
                  </span>
                </figure>

                <div class="card-content">

                  <div class="card-wrapper">
                    

                    <div class="card-rating">
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star-outline"></ion-icon>

                      <data value="2">(2)</data>
                    </div>
                  </div>

                  <h3 class="card-title">
                    <a href="#">Tac Mahal.</a>
                  </h3>

                  <address class="card-location">Agra, Hindistan</address>

                </div>

              </div>
            </li>

          </ul>

        </div>
      </section>


      <!-- 
        - #POPULAR
      -->

      <section class="section popular">
        <div class="container">

          

          <ul class="popular-list">

            <li>
              <div class="popular-card">

                <figure class="card-banner">
                  <a href="#">
                    <img src="{{ url_for('static', filename='assets/images/popular-1.jpg') }}" width="740" height="518" loading="lazy"
                      alt="Kuala Lumpur, Malaysia" class="img-cover">
                  </a>

                  <span class="card-badge">
                    <ion-icon name="time-outline"></ion-icon>

                    <time datetime="P12D">12 Days</time>
                  </span>
                </figure>

                <div class="card-content">

                  <div class="card-wrapper">
                    

                    <div class="card-rating">
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star-outline"></ion-icon>

                      <data value="2">(21)</data>
                    </div>
                  </div>

                  <h3 class="card-title">
                    <a href="#">Sultan Ahmet Camii</a>
                  </h3>

                  <address class="card-location">İstanbul,Türkiye</address>

                </div>

              </div>
            </li>

            <li>
              <div class="popular-card">

                <figure class="card-banner">
                  <a href="#">
                    <img src="{{ url_for('static', filename='assets/images/popular-2.jpg') }}" width="740" height="518" loading="lazy"
                      alt="Kuala Lumpur, Malaysia" class="img-cover">
                  </a>

                  <span class="card-badge">
                    <ion-icon name="time-outline"></ion-icon>

                    <time datetime="P12D">12 Days</time>
                  </span>
                </figure>

                <div class="card-content">

                  <div class="card-wrapper">
                    

                    <div class="card-rating">
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star-outline"></ion-icon>

                      <data value="2">(34)</data>
                    </div>
                  </div>

                  <h3 class="card-title">
                    <a href="#">KOLEZYUM</a>
                  </h3>

                  <address class="card-location">Roma, İtalya</address>

                </div>

              </div>
            </li>

            <li>
              <div class="popular-card">

                <figure class="card-banner">
                  <a href="#">
                    <img src="{{ url_for('static', filename='assets/images/popular-3.jpg') }}" width="740" height="518" loading="lazy"
                      alt="Kuala Lumpur, Malaysia" class="img-cover">
                  </a>

                  <span class="card-badge">
                    <ion-icon name="time-outline"></ion-icon>

                    <time datetime="P12D">12 Days</time>
                  </span>
                </figure>

                <div class="card-content">

                  <div class="card-wrapper">
                    

                    <div class="card-rating">
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star-outline"></ion-icon>

                      <data value="2">(2)</data>
                    </div>
                  </div>

                  <h3 class="card-title">
                    <a href="#">Tac Mahal.</a>
                  </h3>

                  <address class="card-location">Agra, Hindistan</address>

                </div>

              </div>
            </li>

          </ul>

        </div>
      </section>


      <!-- 
        - #ABOUT
      -->

      <section class="section about">
        <div class="container">

          <div class="about-content">

            <p class="section-subtitle">Hakkımızda</p>

            <h2 class="h2 section-title">Dünyanın dört bir yanındaki turları bizimle keşfedin.</h2>

            <p class="about-text">
              Dünya üzerindeki en ikonik ve tarihi yerleri keşfetmek için bizimle yola çıkın. Asya ve Avrupa kıtalarını zengin tarihi ve kültürel mirasını tanıtmak amacıyla geliştirdiğimiz platformumuzda, yüklediğiniz fotoğrafların hangi tarihi esere ait olduğunu hızlı ve güvenilir bir şekilde öğrenebilirsiniz.
            </p>

            <ul class="about-list">

              <li class="about-item">

                <div class="about-item-icon">
                  <ion-icon name="compass"></ion-icon>
                </div>

                <div class="about-item-content">
                  <h3 class="h3 about-item-title">Tur Rehberi</h3>

                  <p class="about-item-text">
                    Deneyimli ve bilgili tur rehberlerimiz, her adımda size eşlik edecek. Rehberlerimiz, ziyaret ettiğiniz her yerin tarihini ve önemini derinlemesine anlatarak, gezinizin daha anlamlı ve keyifli geçmesini sağlayacak.
                  </p>
                </div>

              </li>

              <li class="about-item">

                <div class="about-item-icon">
                  <ion-icon name="briefcase"></ion-icon>
                </div>

                <div class="about-item-content">
                  <h3 class="h3 about-item-title">Tarihi Eser Tanımlama</h3>

                  <p class="about-item-text">
                    Gelişmiş makine öğrenme algoritmalarımız sayesinde, yüklediğiniz fotoğrafların hangi tarihi esere ait olduğunu anında öğrenebilirsiniz. Veritabanımız, Asya ve Avrupa kıtasındaki binlerce tarihi eseri içermektedir.
                  </p>
                </div>

              </li>

              <li class="about-item">

                <div class="about-item-icon">
                  <ion-icon name="umbrella"></ion-icon>
                </div>

                <div class="about-item-content">
                  <h3 class="h3 about-item-title">Doğru ve Hızlı Sonuçlar</h3>

                  <p class="about-item-text">
                    Sistemimiz, yüksek doğruluk oranı ile çalışarak sizlere en güvenilir sonuçları sunar. Hızlı ve etkili sonuçlarımız sayesinde, keşiflerinizi daha eğlenceli ve bilgilendirici hale getiriyoruz.
                  </p>
                </div>

              </li>

            </ul>

            <a href="#" class="btn btn-primary">Daha Fazla</a>

          </div>

          <figure class="about-banner">
            <img src="{{ url_for('static', filename='assets/images/about-banner.png') }}" width="756" height="842" loading="lazy" alt="" class="w-100">
          </figure>

        </div>
      </section>

      
  <!-- 
    - #FOOTER
  -->

  <footer class="footer" style="background-image: url('{{ url_for('static', filename='assets/images/footer-bg.png') }}')">
    <div class="container">

      <div class="footer-top">

        <ul class="footer-list">

          <li>
            <p class="footer-list-title">Kıtalar</p>
          </li>

          <li>
            <a href="#" class="footer-link">Asya Kıtası</a>
          </li>

          <li>
            <a href="#" class="footer-link">Avrupa Kıtası</a>
          </li>


        </ul>

        <ul class="footer-list">

          <li>
            <p class="footer-list-title">Blog</p>
          </li>

          <li>
            <a href="#" class="footer-link">Sultan Ahmet Camii</a>
          </li>

          <li>
            <a href="#" class="footer-link">Kolezyum</a>
          </li>

          <li>
            <a href="#" class="footer-link">Tac Mahal</a>
          </li>

          <li>
            <a href="#" class="footer-link">Dolmabahçe Sarayı</a>
          </li>


        </ul>

        <ul class="footer-list">

          <li>
            <p class="footer-list-title">Menu</p>
          </li>

          <li>
            <a href="#" class="footer-link">Hakkımızda</a>
          </li>

          <li>
            <a href="#" class="footer-link">İletişime Geç</a>
          </li>

          <li>
            <a href="#" class="footer-link">Turlar</a>
          </li>

          <li>
            <a href="#" class="footer-link">Blog</a>
          </li>

          

        </ul>

        <div class="footer-list">

          <p class="footer-list-title">Bülten alın</p>

          <p class="newsletter-text">
            En son fırsatlar ve ipuçları için gelen kutunuzdan başka yere gitmeyin
          </p>

          <form action="" class="newsletter-form">
            <input type="email" name="email" required placeholder="Email address" class="newsletter-input">

            <button type="submit" class="btn btn-primary">Abone Ol</button>
          </form>

        </div>

      </div>

      <div class="footer-bottom">

        <a href="#" class="logo">Tourest</a>

        <p class="copyright">
          &copy; 2022 <a href="#" class="copyright-link">codewithsadee</a>. All Rights Reserved
        </p>

        <ul class="social-list">

          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-facebook"></ion-icon>
            </a>
          </li>

          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-twitter"></ion-icon>
            </a>
          </li>

          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-instagram"></ion-icon>
            </a>
          </li>

          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-linkedin"></ion-icon>
            </a>
          </li>

          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-google"></ion-icon>
            </a>
          </li>

        </ul>

      </div>

    </div>
  </footer>

  <!-- 
    - #GO TO TOP
  -->

  <a href="#top" class="go-top" data-go-top aria-label="Go To Top">
    <ion-icon name="chevron-up-outline"></ion-icon>
  </a>

  <!-- 
    - custom js link
  -->
  <script src="{{ url_for('static', filename='assets/js/script.js') }}"></script>

  <!-- 
    - ionicon link
  -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>

</html>
